<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/common.js"></script>
</head>
<body>
<div style="text-align: center">
    <h1>省级管理员密码更新</h1>
    <hr>
    <form action="/querUserInfoForUpdatePass" method="post">
        姓名<input type="text" name="name" id="name"><br>
        <input type="submit" value="点击可更新初始密码">
    </form>
</div>
</body>
</html>