<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/addsalejobinfo" method="post">
        id<input type="text" name="id">
        jobname<input type="text" name="jobname">
        begin<input type="text" name="begin">
        end<input type="text" name="end">
        school<input type="text" name="school">
        numflag<input type="text" name="numflag">
        actionname<input type="text" name="actionname">
        <input type="submit" value="新增营销任务">
    </form>
</body>
</html>