<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <script src="static/layui/layui.js"></script>
</head>
<body>
<h1 align="center">营销活动</h1>
    <hr>
    <table id="demo"></table>
<script>
    //JavaScript代码区域


    layui.use('table', function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 312
            ,url: '/saleacitonlist' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                {field: 'id', title: 'ID', fixed: 'left'}
                ,{field: 'actionname', title: '活动名称'}
                ,{field: 'begin', title: '开始时间'}
                ,{field: 'end', title: '结束时间'}
                ,{field: 'numflag', title: '号标识'}
                    ,{field: 'test1', title: 'test1'}
                    ,{field: 'test2', title: 'test2'}

                ,//{field: 'type', title: '用户类型', templet: function (d) {
                   //     if(d.type === 0){
                     //       return "管理员";
                       // } else {
                         //   return "普通用户";
                        //}
                    //}}
            ]
            ]
        });

    });
</script>
</body>
</html>