<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center">
    <h1>营销任务列表</h1>
    <hr>
    <a th:href="@{/showSaleJob(school=1)}">营销任务1</a>
    <a th:href="@{/showSaleJob(school=2)}">营销任务2</a>
    <a th:href="@{/showSaleJob(school=3)}">营销任务3</a>
    <a th:href="@{/showSaleJob(school=4)}">营销任务4</a>
    <a th:href="@{/showSaleJob(school=5)}">营销任务5</a>
    <a th:href="@{/showSaleJob(school=6)}">营销任务6</a>
    <a th:href="@{/showSaleJob(school=7)}">营销任务7</a>
    <a th:href="@{/showSaleJob(school=8)}">营销任务8</a>
    <a th:href="@{/showSaleJob(school=9)}">营销任务9</a>
    <a th:href="@{/showSaleJob(school=10)}">营销任务10</a>
</div>
</body>
</html>